/*BRAND COLOURS*/
:root {
  --purple: #361999;
  --pink: #ff6495;
  --turquoise: #78fff1;
  --almostBlack: #2d2d2d;
  --white: #ffffff;
}

/* GLOBAL STYLES */
p {
  font-family: 'Titillium Web Black', sans-serif;
}

h1 {
  font-weight: bolder;
  font-size: 65px;
}

h2 {
  font-weight: bolder;
  font-size: 50px;
}

h5 {
  font-weight: bolder;
  font-size: 25px;
}

.text-link {
  color: var(--purple);
  font-weight: bold;
  text-decoration: none;
}

.text-link:hover {
  color: var(--pink);
}

.white-background-copy {
  color: var(--almostBlack);
}

.header-purple {
  font-family: 'Titillium Web', sans-serif;
  color: var(--purple);
  padding-top: 50px
}

.header-white {
  font-family: 'Titillium Web', sans-serif;
  color: var(--white)
}

.header-turquoise {
  font-family: 'Titillium Web', sans-serif;
  color: var(--turquoise)
}

.header-almostBlack {
  font-family: 'Titillium Web', sans-serif;
  color: var(--almostBlack)
}

.header-almostBlack:hover {
  color: var(--pink)
}

.color-block-pink {
  background-color: var(--pink);
  color: var(--white);
  margin-left: -100px;
  margin-right: -100px;
  padding-top: 50px;
  padding-bottom: 50px
}

.color-block-purple {
  background-color: var(--purple);
  color: var(--white);
  margin-left: -100px;
  margin-right: -100px;
}

.color-block-content {
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 50px
}

.section-block-purple {
  background-color: var(--purple);
  color: var(--white);
}

.section-block-content {
  padding-top: 50px;
  padding-bottom: 50px
}

.section-spacing {
  padding-top: 50px;
  padding-bottom: 50px
}
/*GLOBAL STYLES ENDS */

/*NAV STYLES*/
.nav {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color:var(--purple);
  color: var(--white)
}

.logo-image {
  width: 100%;
}

.pill-styles {
  color: var(--white);
  background-color: #ff6495;
}

.nav-link {
  color: var(--white);
  font-family: 'Titillium Web', sans-serif;
}

.nav-link:hover {
  color: var(--turquoise);
}

.active {
  color: var(--white);
  background-color: #ff6495;
}
/*NAV STYLES ENDS*/

/*ABOUT STYLES*/

.head-shot {
  width: 500px;
  height: 500px;
  vertical-align: top;
}
.values-img {
  width: 100%;
  vertical-align: top;
}

.highlight-icon {
  width: 150px;
  height: 150px;
}

.carousel {
  width: 400px;
}
/*ABOUT STYLES ENDS*/

/* QUALIFICATION STYLES */

.card-header {
  background-color: var(--purple);
  color: var(--white);
  text-decoration: none;
  border-bottom: none;
}

.card-header:hover {
  color: var(--turquoise);
}

.card-body {
  font-family: 'Titillium Web', sans-serif;
  color: var(--almostBlack)
}
.accordian-image {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.education-icon {
  width: 150px;
  height: 150px;

}
/* QUALIFICATION STYLES END*/

/*PORTFOLIO STYLES*/

.portfolio-col {
  margin-bottom:15px;
}
.portfolio-card {
  font-family: 'Titillium Web', sans-serif;
  height: 100%;
  padding: 15px;
}
.portfolio-title {
  color: var(--purple);
  font-weight: bold;
  font-size: 35px
}

.portfolio-text {
  font-family: 'Titillium Web', sans-serif;
  color: var(--w)
}
.portfolio-button {
  background-color: var(--turquoise);
  color: var(--almostBlack);
  border: var(--purple);
  margin-right: 10px
}

.portfolio-button:hover {
  background-color: var(--purple);
  color: var(--white)
}
/*FOOTER STYLES */
.divider{
  margin-left:auto;
  margin-right:auto;
  padding-top:4px;
  background-color: var(--turquoise);
}
.hayley-logo-footer {
  width: 200px;
  padding-bottom: 50px;
}

.footer-logo {
  width: 50px;
  padding: 5px
}
/*FOOTER STYLES END*/

/*OLD CSS*/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
